.wrapper {
    font-size: 100%;
    color: wheat;
    padding: 8vmax;
    border-radius: 10px;
    transition-duration: 0.7s;
}

.wrapper:hover {
    background-color: #36342c;
}

.instructions {
    font-size: 1vmax;
    color: #fff200;
    transition-duration: 0.2s;
}

.instructions:hover {
    color: gold;
    font-weight: bold;
}

textarea {
    height: 30vmax;
    width: 30vmax;
    background: #eff1f5;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 20px;
}

.preview {
    margin-left: 2vmax;
    display: inline-block;
    float: right;
    max-width: 30vmax;
}

blockquote {
    background: #444d58;
    border-radius: 5px;
    border-left: 3px solid #2db6f6;
    font-weight: bold;
    padding: 0 10px;
    text-decoration: underline;
    max-width: 40vmax;
}

ul li {
    background: #313438;
    border-left: 3px solid #ce16f8;
    padding: 7px 10px;
    min-width: 5px;
    max-width: 40vmax;
}
