.highlight {
    display: block;
    position: absolute;
    height: 25px;
    width: 25px;
    left: 10px;
    top: 10px;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 50%;
    opacity: 0.5;
    pointer-events: none;
    background: radial-gradient(
            rgb(231, 201, 174),
            rgba(123, 123, 123, 0)
    );
}

.bgc a {
    padding: 15px 25px;
    display: block;
    margin-top: -14px;
    margin-bottom: -14px;
    cursor: default;
}

.bgc:hover a {
    background-color: #453e34;
}

.isActive {
    background-color: #342f28;
    margin-top: -14px;
    margin-bottom: -15px;
}

.bgc a:active {
    background-color: #b19601;
    color: saddlebrown;
}

@media (max-width: 1200px) {
    .bgc a {
        font-size: 2vmax;
        padding: 13px 15px;
        margin-top: -13px;
        margin-bottom: -13px;
    }
}

@media (max-width: 1000px) {
    .bgc a {
        font-size: 2vmax;
        padding: 13px 15px;
        margin-top: -12px;
        margin-bottom: -12px;
    }
}

@media (max-width: 800px) {
    .bgc a {
        font-size: 1.5vmax;
        padding: 10px 10px;
        margin-top: -11px;
        margin-bottom: -12px;
    }
}

@media (max-width: 600px) {
    .bgc a {
        font-size: 1.5vmax;
        padding: 10px 10px;
        margin-top: -9px;
        margin-bottom: -10px;
    }
}
