.highlight {
    display: block;
    position: absolute;
    height: 25px;
    width: 25px;
    left: 10px;
    top: 10px;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 50%;
    opacity: 0.5;
    pointer-events: none;
    background: radial-gradient(
            rgb(231, 201, 174),
            rgba(123, 123, 123, 0)
    );
}

.bgc a {
    padding: 15px 25px;
    display: block;
    margin-top: -14px;
    margin-bottom: -14px;
    cursor: default;
}

.bgc:hover a {
    background-color: #453e34;
}

.isActive {
    background-color: #342f28;
    margin-top: -14px;
    margin-bottom: -15px;
}

.bgc a:active {
    background-color: #b19601;
    color: saddlebrown;
}

.moving_boxes_link {
    margin-top: 5vmax;
    background-color: rgba(26, 59, 121, 0.4);
    border: 2px solid rgba(26, 59, 121, 0.000001);
    border-radius: 25px;
    text-align: center;
    height: 50px;
    padding-top: 11px;
    box-shadow: 0 0 4vmax 2.5vmax rgba(26, 59, 121, 0.4);
    transition-duration: 1s;
}

.moving_boxes_link:hover a {
    color: #18397f;
    font-weight: bold;
}

.moving_boxes_link:hover {
    background-color: #b19601;
    border: 2px solid rgba(255, 215, 0, 0.2);
    transition-duration: 1s;
}

@media (max-width: 1200px) {
    .bgc a {
        font-size: 2vmax;
        padding: 13px 15px;
        margin-top: -13px;
        margin-bottom: -13px;
    }

    .moving_boxes_link {
        font-size: 2vmax;
        height: 40px;
        padding-top: 6px;
    }
}

@media (max-width: 1000px) {
    .bgc a {
        font-size: 2vmax;
        padding: 13px 15px;
        margin-top: -12px;
        margin-bottom: -12px;
    }
}

@media (max-width: 800px) {
    .bgc a {
        font-size: 1.5vmax;
        padding: 10px 10px;
        margin-top: -11px;
        margin-bottom: -12px;
    }

    .moving_boxes_link {
        font-size: 1.5vmax;
        height: 30px;
        padding-top: 4px;
    }
}

@media (max-width: 600px) {
    .bgc a {
        margin-top: -9px;
        margin-bottom: -10px;
    }

    .moving_boxes_link {
        font-size: 1.4vmax;
        padding-top: 2px;
    }
}

@media (max-width: 400px) {
    .bgc a {
        font-size: 1.5vmax;
        padding: 10px 5px;
        margin-top: -9px;
        margin-bottom: -10px;
    }
}
