.App_header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    /*justify-content: center;*/
    font-size: calc(10px + 2vmin);
    color: white;
}

.App_header a {
    color: wheat
}

.Nav_bar {
    margin: 25px;
}

.Nav_bar a:hover {
    transition-duration: 0.5s;
    color: gold;
}

.content {
    margin: 0 auto;
}
